<div class="container" ng-init="init()">
  <table>
    <thead>
      <tr>
        <th for=regname class="col-xs-4">
          <h4>Имя региона</h4>
        </th>
        <th for=regcode class="col-xs-3">
          <h4>Код региона</h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-xs-4" id=regname>
          <h3>{{ currentRegion.name }}</h3>
        </td>
        <td class="col-xs-3" id=regcode>
          <h3>{{ currentRegion.code }}</h3>
        </td>
      </tr>
    </tbody>
  </table>

  <div style="height: 50px"></div>
  <div class="row" ng-show="hidder">
    <table class="table table-fixed table-condensed table-hover" id=table>
      <thead>
        <tr>
          <th class="col-xs-1">#</th>
          <th class="col-xs-2">Ресурс</th>
          <th class="col-xs-2">Лимит</th>
          <th class="col-xs-2">Дата с</th>
          <th class="col-xs-3">Дата по</th>
          <th class="col-xs-2">Действия</th>

        </tr>
      </thead>
      <tbody style="height: 350px">
        <tr ng-repeat="x in resources" class="col-xs-12">

          <td class="col-xs-1">{{ $index + 1 }}</td>
          <td class="col-xs-2">{{ x[0] }}</td>
          <td class="col-xs-2">{{ x[1] }}</td>
          <td class="col-xs-2" >{{ x[2].getDate() }}/{{ x[2].getMonth() }}/{{ x[2].getFullYear() }}</td>
          <td class="col-xs-3" >{{ x[3].getDate() }}/{{ x[3].getMonth() }}/{{ x[3].getFullYear() }}</td>
          <td class="col-xs-2">
            <button type="button" class="btn btn-xs btn-primary" ng-click="hide(x)" title="Редактировать">Редактировать</button>
          </td>

        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-lg btn-primary" ng-click="hide()" title="Создать">Создать</button>
  </div>
  <div class="row" ng-hide="hidder">
    <div class="form-group">
      <label for="usr">Название:</label>
      <input type="text" ng-model="name" class="form-control" id="usr"></input>
      <label for="usr">Код:</label>
      <input type="text" ng-model="code" class="form-control" id="usr"></input>
      <label for="usr">Дата с:</label>
      <input type="date" ng-model="timeFrom" class="form-control" id="usr"></input>
      <label for="usr">Дата по:</label>
      <input type="date" ng-model="timeTo" class="form-control" id="usr"></input>
      
    </div>
    <button type="button" class="btn btn-lg btn-primary" ng-click="save()" title="Редактировать">Пок</button>
  </div>

</div>
</div>